<mat-accordion class="category-list" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span><strong>Categorías</strong></span>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let category of categoryFacadeService.data$ | async"
        (click)="productFacadeService.selectCategory(category.id)"
      >
        {{ category.name }}
      </a>
      <a mat-list-item (click)="productFacadeService.selectCategory(null)"
        >Todas</a
      >
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
